@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: scroll;
  font-family: "Roboto", sans-serif;

}

.header-container, .footer, .section-one {
    background-color: #1f2937;
    color: white;
}

.header-container
{
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items:  center;
}

.header-title
{
    font-size: 24px;
    font-weight: bold;
}

.header-links
{
    font-size: 18px;
    display: flex;
    gap: 22px;
}

.section-one, .section-two
{
    height: 475px;
}

.section-one
{
    display: flex;
    justify-content: center;
    align-items:  center;
    gap: 100px;
}

.section-one-container
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:  flex-start;
    flex-wrap:  wrap;
    gap: 8px;
    width: 400px;
    height: 281px;
}

.section-one-container-title
{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 900;
    color:  #f9faf8;
}

.section-one-container-text
{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color:  #e5e7eb;
}

.section-one-container-button
{
    background-color: #3882f6;
    border-radius: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.section-two
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 65px;
}

.section-two-container
{
    display: flex;
    flex-wrap:  wrap;
    gap:120px;
}

.section-two-title
{
    font-family: 'Roboto', sans-serif;
    font-size: 39px;
    font-weight: 900;
    color:  #1f2937;
}

.section-two-graphic
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.section-two-graphic-img
{
    width: 150px;
    height: 150px;
    border:  #3882f6;
    border-style: solid;
    border-width: 4px;
    border-radius: 12px;
}

.section-two-graphic-txt
{
    width: 150px;
    text-align: center;
}

.section-three
{
    display: flex;
    justify-content: center;
    align-items:  center;
    background-color: #e5e7eb;
    height: 575px;
}

.section-three-container
{
    display: flex;
    flex-direction: column;
    flex-wrap:  wrap;
    justify-content: center;
    align-items:  center;
    width: 1175px;
}

.section-three-quote
{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color:  #1f2937;
}

.section-three-author
{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 600;
    align-self: flex-end;
}

.section-four
{
    height: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-four-container
{
    width: 1250px;
    height: 125px;
    background-color: #3882f6;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.section-four-container-title
{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color:  #f9faf8;

}

.section-four-container-text
{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color:  #f9faf8;
}

.section-four-container-button
{
    background-color: #3882f6;
    border-radius: 6px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: #f9faf8;
    border-style: solid;
    color:  #e5e7eb;
}

.footer
{
    font-size: 18px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items:  center;
}
