@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: scroll;
  font-family: "Roboto", sans-serif;

}

.header-container, .footer, .section-one {
    background-color: #1f2937;
    color: white;
}

.header-container
{
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items:  center;
}

.header-title
{
    font-size: 24px;
    font-weight: bold;
}

.header-links
{
    font-size: 18px;
    display: flex;
    gap: 22px;
}

.section-one, .section-two
{
    height: 475px;

}

.section-three
{
    display: flex;
    justify-content: center;
    align-items:  center;
    background-color: #e5e7eb;
    height: 575px;
}

.section-three-container
{
    display: flex;
    flex-direction: column;
    flex-wrap:  wrap;
    justify-content: center;
    align-items:  center;
    width: 1175px;
}

.section-three-quote
{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color:  #1f2937;
}

.section-three-author
{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 600;
    align-self: flex-end;
}

.section-four
{
    height: 375px;
}

.footer
{
    font-size: 18px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items:  center;
}
